<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>我が家のペット紹介</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="ここにサイト説明を入れます">
<link rel="stylesheet" href="css/style.css">
</head>
<body>

<header>

<h1 id="logo"><img src="images/logo.png" alt="Artist Web Site"><span>アーティストウェブサイト</span></h1>

<!--開閉ブロック-->
<div id="menubar">

<nav>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#section2">花音</a></li>
<li><a href="#section3">レオ</a></li>
<li><a href="#section4">蘭丸</a></li>
<li><a href="#section5">ブラン</a></li>
<li><a href="#section6">Gallery</a></li>
</ul>
</nav>

<ul class="icons">
<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
<li><a href="#"><i class="fab fa-line"></i></a></li>
<li><a href="#"><i class="fab fa-youtube"></i></a></li>
<li><a href="#"><i class="fab fa-instagram"></i></a></li>
</ul>

</div>
<!--/#menubar-->

</header>

<main>



<!-- ここからsection1 -->
<section id="section1" class="section">
</section>



<!-- ここからsection2 -->
<section id="section2" class="section">
    <h2>花音</h2>
    <p>12歳　メス　毛色：サビトラ</p>

    <h2>ツン９割デレ１割気高き女王様</h2>

    <h3>introduction</h3>
    <p>
        母の仕事先の方が犬小屋に置き去りにされていたところを保護。当時すでに猫を飼っていたため、我が家で保護することに。<br>
        保護当時は目ヤニで目が潰れていましたが無事に回復。現在はきれいなグリーンアイをしています。<br>
        先住猫ともすぐに打ち解け、三年後保護した子猫のお世話をするほどほかの猫に優しい性格です。<br>
        しかし、人間には気高い一面を見せ、なかなか撫でさせてくれず突然嚙まれたり引っかかれたりすることもしばしば。<br>
        ですが我が家ではそれを個性として受け入れ適度な距離感で接しています。
    </p>
</section>

<!-- ここからsection3 -->
<section id="section3" class="section">

    <h2>レオ</h2>
    <p>9歳　オス　毛色：白キジ</p>

    <h2>甘えん坊の俺様気質</h2>

    <h3>introduction</h3>
    <p>
        母が田んぼ道を車で走行していたところ、あぜ道で一匹でいた所を保護。当時三匹の猫がいましたがうちの子として迎え入れることになりました。<br>
        保護当時は食事を摂れていなかったのかガリガリでしたが、現在はわがままボディに。<br>
        花音にお世話されすくすく育っていましたが反抗期に入ったのか次第にほかの猫に少し気難しい一面を見せるようになりました。<br>
        しかし、人間にはとても甘えん坊で寝ているときに肉球を揉んだり、歯を見せてもらっても怒りません。（吸うと嫌な顔をされますが…）<br>
        最近は新しく迎え入れた子猫と仲良くできるよう、少しずつトレーニングをしています。
    </p>

</section>

<div class="c">
↓ CMSで簡単にサイト構築もできます ↓<br>
<a href="https://template-party-cms.com/" target="_blank"><img src="https://template-party.com/images/banner/cms2.png" alt=""></a>
</div>
</section>

<!-- ここからsection4 -->
<section id="section4" class="section">

    <h2>蘭丸</h2>
    <p>3か月　オス　毛色：白黒</p>

    <h2>隻眼の超絶やんちゃ坊主</h2>

    <h3>introduction</h3>
    <p>
        私の友人が駐車場にいたところを保護。友人宅では飼えないとのことで我が家で引き取ることになりました。
        保護当時、花音と同じく目ヤニで目が潰れており点眼薬で治療をしていましたが右目は完治せず腫れてしまったため摘出することに。<br>
        右目を失くすハンデを負いましたが今では部屋中を走り回るほど元気になりました。<br>
        やんちゃで急に飛びついてきたりもしますが人間が大好きで眠い時はくっついて寝てくれます。<br>
        同じ部屋で過ごしているフェレットのブランと姉弟のように遊んでいます。
    </p>

</section>

<!-- ここからsection5 -->
 <section id="section5" class="section">

    <h2>ブラン</h2>
    <p>1歳　メス　毛色：セーブル</p>

    <h2>胴長短足のおっとり眠り姫</h2>

    <h3>introduction</h3>
    <p>
        ペットショップで出会い一目ぼれし、先住猫がいるため私の部屋で飼うことに。<br>
        まだ一般的には珍しい動物のフェレットで、イタチ科に属しています。胴長短足が特徴で、一日に20時間ほど眠ります。<br>
        起きているときは走り回ったり、おもちゃを隠して遊んだり、高いところによじ登ったりと活発な一面も見られます<br>
        基本的にはおっとりとしていて私のベッドの上でゴロゴロしたり、おなかを撫でられてもされるがままになっています。<br>
        最近同居を始めた蘭丸と遊んであげていたり、種族は違いますがお姉ちゃんのようになっています。
    </p>

</section>


<!-- ここからsection6 -->
<section id="section6" class="section">

<h2>Gallery</h2>
<h3>歴代のペット達</h3>

<p>
    我が家の歴代のペットたちです。虹の橋を渡った子たちもいますが、どの子も私たちの大事な家族です。<br>
    思い出を忘れないよう、この先もたくさん写真を残していきたいです。
</p>

<!-- <p>ここのサムネイル画像は、長方形であっても正方形にトリミングされるようになっています。<br>
リンク（aタグ）を指定しないと画像が表示されないので注意して下さい。<br>
もし、リンクを一切使わずサムネイルだけ出しておきたいなら、aタグをdivタグに置き換えて（&lt;div&gt;〜&lt;/div&gt;）、style.cssの<br>
.list-grid-trimming .list aを、.list-grid-trimming .list divにすればOKです。</p>
<p>現在４列ですが、５列や３列に簡単に変更できます。詳しくは、cssフォルダのstyle.cssの<br>
.list-grid-trimming {<br>
のブロック内の説明を読んで下さい。</p> -->

<div class="list-grid-trimming">

<div class="list">
<a href="images/petto/gin2.jpg" data-lightbox="group1" data-title="舌ペロ銀">
<img src="images/petto/gin2.jpg" alt="舌ペロ銀">
</a>
</div>

<div class="list">
<a href="images/petto/gin.jpg" data-lightbox="group1" data-title="花と銀">
<img src="images/petto/gin.jpg" alt="花と銀">
</a>
</div>

<div class="list">
<a href="images/petto/ma-ru.jpg" data-lightbox="group1" data-title="猫鍋マール">
<img src="images/petto/ma-ru.jpg" alt="猫鍋マール">
</a>
</div>

<div class="list">
<a href="images/petto/ma-ru2.jpg" data-lightbox="group1" data-title="ゆったりマール">
<img src="images/petto/ma-ru2.jpg" alt="ゆったりマール">
</a>
</div>

<div class="list">
<a href="images/petto/gin_leo.jpeg" data-lightbox="group1" data-title="銀とレオ">
<img src="images/petto/gin_leo.jpeg" alt="銀とレオ">
</a>
</div>

<div class="list">
<a href="images/petto/kanon2.jpeg" data-lightbox="group1" data-title="あんもにゃいと花音">
<img src="images/petto/kanon2.jpeg" alt="あんもにゃいと花音">
</a>
</div>

<div class="list">
<a href="images/petto/leo_kanon.jpeg" data-lightbox="group1" data-title="花音とレオ">
<img src="images/petto/leo_kanon.jpeg" alt="花音とレオ">
</a>
</div>

<div class="list">
<a href="images/petto/leo (2).jpeg" data-lightbox="group1" data-title="のんびりレオ">
<img src="images/petto/leo (2).jpeg" alt="のんびりレオ">
</a>
</div>

<div class="list">
<a href="images/petto/bran (2).jpeg" data-lightbox="group1" data-title="あくびブラン">
<img src="images/petto/bran (2).jpeg" alt="あくびブラン">
</a>
</div>

<div class="list">
<a href="images/petto/ran2.jpg" data-lightbox="group1" data-title="保護当日蘭丸">
<img src="images/petto/ran2.jpg" alt="保護当日蘭丸">
</a>
</div>

<div class="list">
<a href="images/petto/kanon_ran.jpg" data-lightbox="group1" data-title="花音と蘭丸">
<img src="images/petto/kanon_ran.jpg" alt="花音と蘭丸">
</a>
</div>

<div class="list">
<a href="images/petto/bran_ran.jpg" data-lightbox="group1" data-title="ブランと蘭丸">
<img src="images/petto/bran_ran.jpg" alt="ブランと蘭丸">
</a>
</div>

</div>
<!--/.list-grid-->

<!-- <h3>lightboxを使用しています</h3>
<p>サムネイル画像をクリックすると、画面が暗転してポップアップが開きます。<br>
海外で配布されているプログラムなので、カスタマイズなどには当サイトでは対応していません。ご自身でGoogle検索などかけてみて下さい。</p>
<h3>画像を増やしたい場合</h3>
<p>基本的にはご利用のテンプレートのhtml側のパーツをコピペして増やしてみて下さい。<br>
以下のタグのようにポップアップで大きく表示される画像はaタグ内で読み込み、サムネイル画像（小さな画像）はimgタグで読み込まれています。<br>
このテンプレートではどちらの画像も同じ画像を使っていますが、それぞれ別の画像を配置して頂いても構いません。</p>
<p class="look">&lt;a href=&quot;<span class="color-check">images_gallery/1.jpg</span>&quot; data-lightbox=&quot;group1&quot; data-title=&quot;タイトルをここに入れます&quot;&gt;<br>
&lt;img src=&quot;<span class="color-check">images_gallery/1.jpg</span>&quot; alt=&quot;&quot;&gt;<br>
&lt;/a&gt;</p>
<h3>グループ</h3>
<p><span class="look">data-lightbox="group1"</span><br>
は、ポップアップで表示した場合に次の画像へ繋ぐグループの設定です。<br>
「group1」部分は好きに変更して頂いて構いません。<br>
同じグループ名がついている場合に次の画像へのリンク矢印が出ます。グループごとに見て欲しい場合はこのグループ名を変更しておくといいでしょう。</p>
<p class="look">&lt;a href=&quot;images_gallery/1.jpg&quot; <span class="color-check">data-lightbox=&quot;group1&quot;</span> data-title=&quot;タイトルをここに入れます&quot;&gt;<br>
&lt;img src=&quot;images_gallery/1.jpg&quot; alt=&quot;&quot;&gt;<br>
&lt;/a&gt;</p>
<h3>ポップアップ時のコメント</h3>
<p><span class="look">data-title="タイトルをここに入れます"</span><br>
は、lightboxで暗転表示された際に写真下に表示されるテキストです。<br>
よく分からない場合は実際に設定して動作を確認してみて下さい。不要ならタグごと削除してもらえばOKです。</p>
<p class="look">&lt;a href=&quot;images_gallery/1.jpg&quot; data-lightbox=&quot;group1&quot; <span class="color-check">data-title=&quot;タイトルをここに入れます&quot;</span>&gt;<br>
&lt;img src=&quot;images_gallery/1.jpg&quot; alt=&quot;&quot;&gt;<br>
&lt;/a&gt;</p>

<h3>lightboxを使う為に必要なタグ、ファイル類。</h3>
<p>cssフォルダのstyle.css冒頭で読み込んでいる「lightbox.cssの読み込み」のブロック。<br>
html下部で読み込んでいる「lightbox用jsファイルの読み込み」のブロック。</p>
<p>何年も経過した場合、動作に問題が出てくる可能性があります。<br>
テンプレートを編集していないのに突然動きがおかしくなった場合は、上記のバージョンを変更して動作するか確認してみて下さい。</p> -->

</section>



</main>

<footer>
<small>Copyright&copy; <a href="index.html">Artist Web Site</a> All Rights Reserved.</small>
<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

<!--ページの上部へ戻るボタン-->
<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

<!--開閉ボタン（ハンバーガーアイコン）-->
<div id="menubar_hdr">
<span></span><span></span><span></span>
</div>

<!--jQueryの読み込み-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!--lightbox用jsファイルの読み込み-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>

<!--このテンプレート専用のスクリプト-->
<script src="js/main.js"></script>

</body>
</html>
